* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  width: 980px;
}

.players, .scores {
  float: left;
  width: 50%;
  font-size: 2em;
}

.game {
  display: none;
}

.start {
  background-color: black;
}

#splash {
  text-align: center;
}

#wins {
  color: green;
}

#losses {
  color: red;
}

#ties {
  color: grey;
}

